{% extends "_base.html" %}
{% block title %}Log In{% endblock title %}
{% block content %}
<h2 class="grid justify-center">Log In</h2>
<form method="post" class="max-w-sm mx-auto">
    {% csrf_token %}
    <div class="mb-5">
        <label for="id_login" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" name="login" placeholder="Email address" autocomplete="email" maxlength="320" required=""
            id="id_login"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
        <label for="id_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
            password</label>
        <input type="password" name="password" placeholder="Password" autocomplete="current-password" required=""
            aria-describedby="id_password_helptext" id="id_password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="flex items-start mb-5">
        <a href="http://"><span class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Forgot
                Password?</span></a>
    </div>
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log
        In</button>
</form>
{% endblock content %}