{% extends "_base.html" %}
{% block title %}Log Out{% endblock %}
{% block content %}
<div class="grid justify-items-center">
    <h1>Log Out</h1>
    <p>Are you sure you want to log out?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log
            Out</button>
    </form>
</div>

{% endblock content %}

{% block absolute_links %}

{% endblock absolute_links %}