{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
    <h1 class="text-2xl font-semibold mb-4">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="mb-6">Forgotten your password? Enter your email address below, and we'll send you an email
        allowing you to reset it.</p>
    <form method="post" action="{% url 'account_reset_password' %}" class="space-y-4">
        {% csrf_token %}
        {{ form.email.errors }}
        <div>
            <label for="{{ form.email.id_for_label }}" class="block font-medium mb-2">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <button type="submit"
            class="inline-flex items-center px-4 py-2 bg-blue-600 hover:bg-blue-700 text-black font-semibold rounded">
            Reset My Password</button>
    </form>
    <p class="mt-4">Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock %}
{% block absolute_links %}

{% endblock absolute_links %}