{% extends "_base.html" %}

{% block title %}ABOUT US{% endblock %}

{% block content %}
<div id="about" class="grid grid-auto-fit ">
    <div class="col-span-2">
        <p class="text-4xl transition-all duration-1000 ease-in-out delay-75 animate-pulse">We bring your conceptual
            <br>imagination to <span class="text-red-600">life</span>
        </p>
        <p class="mt-20 text-center text-xl "><span class="text-red-600">@</span>Jume Mega wears & accessories we tailor
            our
            clients conceptual imagination to life.
            <br> We
            deal on unisex
            wears
            ranging from departmental/faculty wears, polos, shirts, <br> final year sign out wears, hoodies, varsity
            jackets, Nysc vest, kahki, cap,
            scrubs, <br> graduating stole and what have you and their brandings.
        </p>
    </div>
    <div class="justify-self-center">
        <video width="320" height="240" autoplay loop>
            <source
                src="https://res.cloudinary.com/dhhaiy58r/video/upload/v1695580596/Dark_Blue_Yellow_Blue_Pop_and_Playful_Animated_Health_and_Fitness_Logo_ak10mv.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class="grid grid-auto-fit mt-4 gap-3">
    <img class="min-h-full"
        src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1705692229/Black_Ivory_Simple_Minimalist_Clothes_Shop_New_Collection_Instagram_Story_a3enng.png"
        alt="image description">

    <img class="min-h-full"
        src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1705692203/Pink_Blue_and_Peach_Pastel_Isometric_Plug_Illustration_T-Shirt_m52pop.png"
        alt="image description">

</div>
{% endblock content %}