{% extends "_base.html" %}

{% block content %}
<div id="about" class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="col-span-1 md:col-span-2">
        <video class="w-full h-full object-cover" autoplay loop muted playsinline>
            <source
                src="https://res.cloudinary.com/dhhaiy58r/video/upload/v1716391092/Black_and_Pink_Modern_Coming_Soon_Instagram_Story_emweby.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

{% endblock content %}

{% block absolute_links %}
<!-- Additional links or content can be added here if needed -->
{% endblock absolute_links %}