{% extends "_base.html" %}

{% block title %}Payment successful{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
    <img src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1707137544/sucess_evctbj.png" alt="Success Icon"
        class="mx-auto mb-6">

    <h1 class="text-2xl font-semibold text-green-600 mb-4">Payment Successful!</h1>

    <p class="text-gray-600 mb-6">
        Thank you for your payment. Your transaction was successful.
    </p>

    <a href="{%url 'nysc_landing' %}"
        class="bg-blue-500 text-black px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 block text-center">
        Return to Homepage
    </a>
</div>

<div class="mt-8 text-center">
    <p class="text-gray-700">Click below to join the paid Group</p><br>
    <a href="https://your-whatsapp-group-link" target="_blank"><button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Join
            Group</button></a>
</div>
{% endblock content %}
{% block absolute_link %}
{% endblock absolute_link %}