{% extends "_base.html" %}

{% block content %}
<a href="{% url 'photo' %}">
    <button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Back</button>
</a>

<div class="flex flex-col items-center mt-4">

    {% if photo.image %}
    <img src="{{ photo.image.url }}" class="dark:hidden w-[272px] h-[572px]" alt="Photo_details">
    {% else %}
    <p>No image available</p>
    {% endif %}
</div>
<br>
{% if photo.image %}
<a class="grid justify-center whatsapp-icon" href="#"
    onclick="sendWhatsAppMessage('{{ photo.image.url }}'); return false;">
    <img width="100px" height="100px"
        src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1704207702/WhatsApp-Logo.wine_nbsnhs.png"
        alt="whatsapp_LOGO">
</a>
{% endif %}
</div>


{% endblock content %}

{% block absolute_links %}

{% endblock absolute_links %}