{% extends "_base.html" %}

{% block content %}
<div id="about" class="grid grid-auto-fit gap-3">
    <div class="col-span-2">
        <video class="min-h-full" autoplay loop>
            <source
                src="https://res.cloudinary.com/dhhaiy58r/video/upload/v1705773454/media/White_Animated_Welcome_to_My_Channel_Youtube_Intro_Video_yg4l2k.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="justify-self-center">
        <video class="min-h-full" autoplay loop>
            <source
                src="https://res.cloudinary.com/dhhaiy58r/video/upload/v1705773462/media/Red_White_Modern_Fashion_Sale_Poster_pxwd5z.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!--gallery-->
<div class="grid gap-4 pt-10">
    <div class="justify-self-center">
        <img class="h-auto max-w-full rounded-lg object-cover"
            src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1685717649/hood_pics/1_sl94fi.jpg" alt="">
    </div>
    <div class="grid grid-cols-5 grid-rows-1 gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg"
                src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1687358527/hood_pics/61_dhxj6f.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg"
                src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1685717651/hood_pics/3_mwfdes.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg"
                src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1686407057/jume_others/46_uhpdya.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg"
                src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1686076261/jume_others/15_b0mtk9.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg"
                src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1686076261/jume_others/16_x3jqi2.jpg" alt="">
        </div>
    </div>
</div>






{% endblock content %}