{% extends "_base.html" %}

{% block content %}
<div class="grid grid-auto-fit-[100px] gap-10 mb-4">
    {% for inspo in object_list %}
    <div style="padding-bottom: 20px;">
        {% if inspo.inspo %}
        <a href="{{ inspo.get_absolute_url }}"><img class="min-h-full rounded-lg" src="{{ inspo.inspo.url }}"
                alt=""></a>
        {% else %}
        <img src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1716475069/media/jume_images/thumbnail_asocbc.svg"
            class="rounded-[2rem] w-full h-full object-cover" alt="No image available">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% include "pagination.html" with page=page_obj %}
{% endblock content %}

{% block absolute_links %}

{% endblock absolute_links %}