{% extends "_base.html" %}

{% block content %}

<div class="grid grid-auto-fit gap-4">
    <div>say no to less quality Crested vest</div>
    <div><img src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1686407057/jume_others/48_trby2c.jpg" alt="">
    </div>
    <div><img src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1686407057/jume_others/48_trby2c.jpg" alt="">
    </div>
</div>
<br>

<!--update data-->
{% if user.is_authenticated %}
<div>
    <a href="{% url 'update_user' user.id %}"><button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button></a>
</div>
{%endif%}

{% if user.is_authenticated %}
{%if measurement %}
<div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        CHEST (inches)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        SHOULDER (inches)
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        SLEEVE LENGTH (inches)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        WAIST (inches)
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        THIGH (inches)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        TROUSER LENGTH (inches)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        UPDATE SIZE
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for measurements in measurement %}
                {% if request.user.id %}
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <td class="px-6 py-4">
                        {{measurements.chest}}
                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                        {{measurements.shoulder}}
                    </td>
                    <td class="px-6 py-4">
                        {{measurements.sleeve_length}}
                    </td>
                    <td class="px-6 py-4">
                        {{measurements.waist}}
                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                        {{measurements.thigh}}
                    </td>
                    <td class="px-6 py-4">
                        {{measurements.trouser_length}}
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{measurements.get_absolute_url}}"><button type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button></a>
                    </td>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%else%}
<div>

    <h1>Click on the <a href="{% url 'create_measurement' %}"><button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Button</button></a>
        to send in your measurement for kahki</h1>

</div>
{% endif %}
{% endif %}
<!--shop button-->
<div class="grid justify-items-center mt-4 mb-4">

    <a href="{% url 'product_list' %}">
        <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Shop
            Now</button>
    </a>
</div>
{% endblock content %}

{% block absolute_link %}

{% endblock absolute_link %}