{% extends "_base.html" %}

{% block title %}Pay your order{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-4">Order Summary</h1>
<div class="overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Product
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4">
                    <img class="w-24 h-24 object-cover rounded-lg"
                        src="{% if item.product.image %}{{ item.product.image.url }}{% endif %}" alt="Product Image">
                </td>
                <td class="px-6 py-4">
                    {{ item.product.name }}
                </td>
                <td class="px-6 py-4">
                    N{{ item.price }}
                </td>
                <td class="px-6 py-4">
                    {{ item.quantity }}
                </td>
                <td class="px-6 py-4">
                    N{{ item.get_cost }}
                </td>
            </tr>
            {% endfor %}
            <tr class="bg-white dark:bg-gray-800">
                <td colspan="4" class="px-6 py-4 text-right font-semibold">Total</td>
                <td class="px-6 py-4 font-semibold">N{{ order.get_total_cost }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<form action="{% url 'process' %}" method="post">
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Pay
        Now</button>
    {% csrf_token %}
</form>
{% endblock content %}