{% extends "_base.html" %}

{% block title %}Pay your order{% endblock %}

{% block content %}
<h1>Order summary</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
            <td>
                <img src="{% if item.product.image %}{{ item.product.image.url }}{% endif %}">
            </td>
            <td>{{ item.product.name }}</td>
            <td class="num">N{{ item.price }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td class="num">N{{ item.get_cost }}</td>
        </tr>
        {% endfor %}
        <tr class="total">
            <td colspan="4">Total</td>
            <td class="num">N{{ order.get_total_cost }}</td>
        </tr>
    </tbody>
</table>
<br>
<form action="{% url 'process' %}" method="post">
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Pay
        Now</button>
    {% csrf_token %}
</form>
{% endblock content %}