<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enugu</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>ABA</h2>

    <table>
        <tr>
            <th>ORDER ID</th>
            <th>NAME</th>
            <th>CALL UP NUMBER</th>
            <th>ITEM</th>
            <th>SIZE</th>
            <th>QUANTITY</th>
        </tr>
        {% for order_item in order_items %}

        <tr>
            <td>{{order_item.order.id}}</td>
            <td>{{order_item.user.last_name}} {{order_item.user.first_name}}</td>
            <td>{{order_item.user.nysc_call_up_number}}</td>
            <td>{{order_item.product.name}}</td>
            <td>{{order_item.product.size}}</td>
            <td>{{order_item.quantity}}</td>
        </tr>

        {% endfor%}
    </table>

    {{user.username}}
</body>

</html>