{% extends "_base.html" %}

{% block content %}
<div class="grid grid-auto-fit-[100px] gap-10 mb-4">
    {% for video in object_list %}
    <div style="padding-bottom: 20px;">
        <a href="#">
            <video class="min-h-full rounded-lg" controls muted>
                <source src="{{ video.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </a>
    </div>
    {% endfor %}
</div>

{% include "pagination.html" with page=page_obj %}
{% endblock content %}


{% block absolute_links %}

{% endblock absolute_links %}